<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <h1><strong>RESERVAS</strong></h1><br>
      <h2>Detalles</h2>
      <hr>
    </div>
    <!-- ACCION NUEVA RESERVA  -->
    <div class="col-6 d-flex justify-content-end">
      <div class="container">
        <div class="row d-flex justify-content-end">
          <div class="col-6 d-flex justify-content-end">
            <button class="custom-btt-crear" [ngStyle]="{ 'height': '2.5rem', 'width': '6rem'}" mat-raised-button
              [routerLink]="['/reservas/nuevo']"><strong>NUEVO</strong><mat-icon>plus_one</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA DETALLES DE RESERVAS  -->
    <div class="row">
      <div class="col">
        <table mat-table class="mat-elevation-z8" [dataSource]="reservas">

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.producto.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="barrio">
            <th mat-header-cell *matHeaderCellDef> Barrio </th>
            <td mat-cell *matCellDef="let element"> {{element.producto.barrio}} </td>
          </ng-container>
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.producto.precio | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="urlImagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element"> <img [src]="element.producto.urlImagen" alt="Imagen"> </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado del Producto</th>
            <td mat-cell *matCellDef="let element"> {{element.producto.estado}} </td>
          </ng-container>

          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
          </ng-container>
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.clienteNombre}} </td>
          </ng-container>
          <ng-container matColumnDef="estadoReserva">
            <th mat-header-cell *matHeaderCellDef> Estado de la Reserva </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoReserva.nombre}} </td>
          </ng-container>

          <!-- ACCIONES  -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="checkAprobacionDirecta(element)">
                  <mat-icon>help_center</mat-icon>
                  <span>Check Aprobacion Directa</span>
                </button>
                <button mat-menu-item [routerLink]="['/reservas/updateestado',element]">
                  <mat-icon>settings</mat-icon>
                  <span>Cambiar Estado Reserva</span>
                </button>
              </mat-menu>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <!-- FILTRO POR ESTADO  -->
    <div class="row d-flex flex-column"><br>
      <div class="col">
        <h2 class="mt-5">Filtrar</h2>
        <hr>
        <mat-tab-group>
          <mat-tab label="Estado">
            <div class="col d-flex justify-content-start ">
              <mat-form-field [style]="'width: 22rem;'">
                <mat-label>Seleccione estado</mat-label>
                <mat-select (selectionChange)="seleccionEstado($event.value)">
                  <mat-option *ngFor="let estado of estadosReserva" [value]="estado.estadoId">
                    {{estado.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-list role="list">
                <mat-list-item *ngFor="let reserva of reservas" role="listitem"
                  style="width: 50rem; margin-bottom: 5px; border-bottom: 2px solid rgb(192, 191, 191);">
                  <span><strong>ID</strong> {{ reserva.reservaId }} - <strong>Code producto:</strong> {{
                    reserva.producto.codigo }} - </span><br>
                  <span><strong>Barrio</strong> " {{ reserva.producto.barrio }} " - </span>
                  <span><strong>Vendedor/a:</strong> {{ reserva.usuario }} -
                    <strong>Cliente:</strong> {{ reserva.clienteNombre }} </span><br>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-tab>

          <!-- REPORTE -->
          <mat-tab label="Reporte de Ventas" class="d-flex flex-column justify-content-end">
            <div class="col-6 mb-3">
              <h3 class="mb-3"><strong>Grafico comparativo</strong></h3><hr>
              <div *ngFor="let r of reporte">
                <div class="progress mt-2">
                  <div class="progress-bar" role="progressbar"
                    [ngStyle]="{ 'width.%': (r.numeroReservas / getMaxReservas()) * 100 }"
                    [attr.aria-valuenow]="r.numeroReservas" aria-valuemin="0" [attr.aria-valuemax]="getMaxReservas()"
                    [ngClass]="{
                      'bg-red-pastel': (r.numeroReservas / getMaxReservas()) * 100 < 5,
                      'bg-green-pastel': (r.numeroReservas / getMaxReservas()) * 100 <= 5 && 100 >= 30,
                      'bg-blue-pastel': (r.numeroReservas / getMaxReservas()) * 100 >= 30
                    }"><br>
                  </div>
                </div>
                <span>{{ r.usuario }} - {{ r.numeroReservas }} reservas</span>
              </div>

            </div>
          </mat-tab>

        </mat-tab-group>

      </div>

    </div>
  </div>
</div>

