<div class="container d-flex justify-content-center" style="margin-top: 10rem;">
  <div class="row">
    <div class="col">
      <h1><strong>RESERVAS</strong></h1><hr><br>
      <h2>Detalles</h2>
      <hr>
    </div>
    <!-- ACCION NUEVA RESERVA  -->
    <div class="col-6 d-flex justify-content-end">
      <div class="container">
        <div class="row d-flex justify-content-end">
          <div class="col-6 d-flex justify-content-end">
            <button *ngIf="showIfRol()" class="custom-btt-crear" [ngStyle]="{ 'height': '2.5rem', 'width': '6rem'}" mat-raised-button
              [routerLink]="['/reservas/nuevo']"><strong>NUEVO</strong><mat-icon>plus_one</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA DETALLES DE RESERVAS  -->
    <div class="row">
      <div class="col">
        <table mat-table class="mat-elevation-z8" [dataSource]="reservas">

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.producto.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="barrio">
            <th mat-header-cell *matHeaderCellDef> Barrio </th>
            <td mat-cell *matCellDef="let element"> {{element.producto.barrio}} </td>
          </ng-container>
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.producto.precio | currency}} </td>
          </ng-container>
          <ng-container matColumnDef="urlImagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element"><mat-icon>photo_camera</mat-icon> <img
                [src]="element.producto.urlImagen" alt="" class="custom-imagen"> </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado del Producto</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{
              'txt-color-red': (element.producto.estado =='VENDIDO'),
            'txt-color-green':(element.producto.estado =='DISPONIBLE'),
            'txt-color-blue':(element.producto.estado =='RESERVADO')
            }"> {{element.producto.estado}} </td>
          </ng-container>

          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
          </ng-container>
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.clienteNombre}} </td>
          </ng-container>
          <ng-container matColumnDef="estadoReserva">
            <th mat-header-cell *matHeaderCellDef> Estado de la Reserva </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{
              'bg-red-pastel': (element.estadoReserva.nombre == 'CANCELADA' || element.estadoReserva.nombre == 'RECHAZADA'),
              'bg-green-pastel': (element.estadoReserva.nombre == 'APROBADA'),
              'bg-blue-pastel': (element.estadoReserva.nombre == 'INGRESADA')
            }"> {{element.estadoReserva.nombre}} </td>
          </ng-container>

          <!-- ACCIONES  -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="checkAprobacionDirecta(element)">
                  <mat-icon>help_center</mat-icon>
                  <span>Check Aprobacion Directa</span>
                </button>
                <button *ngIf="showIfRol2()" mat-menu-item [routerLink]="['/reservas/updateestado',element]">
                  <mat-icon>settings</mat-icon>
                  <span>Cambiar Estado Reserva</span>
                </button>
                <button *ngIf="showIfRol()" mat-menu-item (click)="cancelarReserva(element)">
                  <mat-icon>cancel</mat-icon>
                  <span>Cancelar Reserva</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <!-- FILTRO POR ESTADO  -->
    <div class="row d-flex flex-column"><br>
      <div class="col">
        <h2 class="mt-5">Ver Reportes de reservas</h2>
        <hr>
      </div>
      <div class="col-6 d-flex justify-content-start">
        <button *ngIf="showIfRol2()" class="custom-btt-volver" [ngStyle]="{ 'height': '2.5rem', 'width': '6rem'}"
          mat-raised-button
          [routerLink]="['/reservas/reporte']"><strong>Ir</strong><mat-icon>drive_file_move</mat-icon></button>
        <span *ngIf="!showIfRol2()">No disponible por falta de acceso. <mat-icon class="m-1">desktop_access_disabled</mat-icon></span>
      </div>
    </div>
  </div>
</div>

