<div class="container " style="margin-top: 10rem;">
  <div class="row d-flex justify-content-center align-items-center text-center">
    <h1>LOGIN</h1><br>
    <hr>
    <form [formGroup]="myFormLogin" (ngSubmit)="login()"
      class="row d-flex justify-content-center flex-column align-items-center">

      <div class="col-8">
        <mat-form-field [style]="'width: 20rem'">
          <mat-label>Enter your username</mat-label>
          <input matInput placeholder="username" formControlName="username" required>
          <mat-error *ngIf="myFormLogin.get('username')?.invalid && myFormLogin.get('username')?.touched">
            Please enter a valid username
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-8">
        <mat-form-field [style]="'width: 20rem'">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
            required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"
            [attr.aria-label]="hide ? 'Hide password' : 'Show password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="col-8 d-flex justify-content-center align-items-center ">
        <button mat-raised-button class="custom-btt" [style]="'background-color: rgb(149, 218, 189)'"
          type="submit">Login</button>
        <button mat-raised-button class="custom-btt" [style]="'background-color: rgb(218, 202, 149)'" type="button"
          routerLink="/auth/register">Registrarse</button>
      </div>
      <br>
      <hr>
    </form>
  </div>
</div>
