:host {
  display: block;
}

.custom-imagen {
  width: 42rem;
  height: 32rem;
  border-radius: 1rem;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.966);
  transition: box-shadow 0.3s ease;
}

.custom-imagen:hover {
  box-shadow: 0 0 20px rgba(160, 138, 38, 0.753);
  transform: scale(1.02);
}
