<nav>

  <div class="row d-flex ">
    <div class="col-2 custom-col">
      <button class="custom-btt" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon  aria-hidden="false" fontIcon="home">Home</mat-icon>
      </button>
    </div>

    <div class="col-6 custom-col ">
      <ul class="d-flex justify-content-start me-auto mb-2 mb-lg-0">
        <li >
          <a  [routerLink]="['/home']">HOME</a>
        </li>
        <li  >
          <a  [routerLink]="['/reservas']">RESERVAS</a>
        </li>
        <li >
          <a  [routerLink]="['/productos']">PRODUCTOS</a>
        </li>
      </ul>
    </div>

    <div class="col-4 custom-col d-flex justify-content-end">
      <button class="custom-btt-logout" *ngIf="isAuthenticated" (click)="logout()">DESLOGUEAR</button>
    </div>
  </div>
</nav>

<!-- <button *ngIf="isAuthenticated" (click)="logout()">DESLOGUEAR</button> -->
<router-outlet></router-outlet>
